<!-- <app-invite-complete></app-invite-complete> -->
<!-- <div class="app" [ngStyle]="{'background-image': 'linear-gradient(rgba(141, 141, 237, 0.5), rgba(168, 212, 144, 0.5)),url(' + photo + ')'}"> -->
  <app-login *ngIf="!(isAuthenticated$|async)"  ></app-login>
  <div #app *ngIf="isAuthenticated$|async" class="app" >
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SVN EVENTS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="nav nav-pills primary">
        <li class="nav-item">
          <a class="nav-link"  aria-current="page" routerLink="inivation/create">Create invitation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="invitations">Invitations</a>
        </li>
      </ul>
    </div>
    <div class="text-dark">Hi {{getUsername()}}!</div>
    <button class="btn btn-light text-primary" (click)="logout()">Sign out</button>
  </div>
</nav>
<app-loader class="loader" *ngIf="loader$|async"></app-loader>
<router-outlet></router-outlet>
<app-toast-message aria-live="polite" aria-atomic="true"></app-toast-message>
</div>