<div class="invitations">
  <div class="invitationForm " *ngIf="tempData.length==0">
    <form [formGroup]="searchInvitationForm" class="form border">
      <div class="row mb-3">
        <label for="fname" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [ngbTypeahead]="fnameSearch" id="fname" formControlName="fname">
        </div>
      </div>
      <div class="row mb-3">
        <label for="mobile" class="col-sm-2 col-form-label">Mobile</label>
        <div class="col-sm-10">
          <input class="form-control" [ngbTypeahead]="mobileSearch" id="mobile" formControlName="mobile">
        </div>
      </div>
      <div class="row mb-3">
        <label for="place" class="col-sm-2 col-form-label">Place</label>
        <div class="col-sm-10">
          <input type="text" [ngbTypeahead]="placeSearch" class="form-control" id="place" formControlName="place">
        </div>
      </div>
      <div>
        <div class="row justify-content-center">
          <div class="col">
            <button type="submit" class="btn btn-primary" (click)="searchInvitation()">Search</button>
            <button class="btn btn-primary m-4" (click)="exportData()">Export Data</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="records card">
    <div class="table-responsive-sm">
      <table class="table flex">
        <thead class="thead-dark">
          <tr class="thead-dark">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Place</th>
            <th scope="col">Mobile</th>
            <th scope="col">count</th>
            <th scope="col">Completed</th>
            <th scope="col">
              <select (change)="updatePageSize($event)" class="form-select" aria-label="Default select example">
                <option value="{{page}}" *ngFor="let page of pageSizes">{{page}}</option>
              </select>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let invitation of invitations;let i= index">
          <tr [ngClass]="{'table-success':invitation.completed==true}">
            <td>{{((page-1)*pageSize)+(i+1)}}</td>
            <td>{{invitation.fname}}</td>
            <td>{{invitation.place}}</td>
            <td>
              <ng-template [ngIf]="isArray(invitation.mobile)" [ngIfElse]="singleContact">
                <span *ngFor="let mob of invitation.mobile">
                  <a #singleContact [href]="'tel:'+mob">{{mob}}</a>
                  <br>
                </span>
              </ng-template>
              <ng-template #singleContact>
                <a [href]="'tel:'+invitation.mobile">{{invitation.mobile}}</a>
              </ng-template>
            </td>
            <td>{{invitation.count}}</td>
            <td><input title="iscompleted" type="checkbox" disabled [checked]="invitation.completed"
                textContent="Completed"></td>
            <td>
              <button title="edit" class="btn btn-secondary m-2" (click)="edit(invitation)"><i class="bi bi-pen-fill"></i></button>
              <button type="button" (click)="openModal(invitation)" class="btn btn-primary">Mark As Completed</button>
              <a class="btn btn-primary mt-1" [href]="'https://wa.me/'+prepareWTNumber(invitation.mobile)+'?text='+prepareWTMsg()">Send Whatsapp Message</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center" *ngIf="!invitationSearch">
      <ngb-pagination [(page)]="page" class="col-6" (pageChange)="updateRecords()" *ngIf="(tempData.length<=0 )"
        [collectionSize]="collectionSize" [maxSize]="6"  [ellipses]="true" [pageSize]="pageSize">
      </ngb-pagination>
      <button *ngIf="tempData==null||tempData.length>0" class="btn btn-primary float-end col-3"
        (click)="bulkInsert()">Upload</button>
      <!-- <div class="col-2 col-sm-2">
        <select (change)="updatePageSize($event)" class="form-select" aria-label="Default select example">
          <option value="{{page}}" *ngFor="let page of pageSizes">{{page}}</option>
        </select>
      </div> -->
    </div>
  </div>
</div>