.invitations{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
.invitationForm{

}
.records{
}
@media screen and (max-width: 500px) {
    .invitations {
      display: block;
      flex-direction: column;
    }
  }
.card{
  padding:5px;
}
.form{
  padding:5px;
  margin: 2px;
}